body{

    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center ;   
}

button{

    display: block;
    width: 370px;
    height: 55px;
   
}